.Endirim{
    padding-top: 0px;
    padding-bottom: 200px;
}
.Endirimhead , .Kategoriyahead{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    flex-wrap: wrap;
}


.Endirimcontainer{
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}
.Endirimcart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    border: 1px solid;
    border-radius: 5px;
    width: 260px;
    height: 420px;
    cursor: pointer;
}
.Endirimcart:hover{
    transform:scale(1.1);
    transition-duration: 2sn;
    box-shadow: 2px 3.5px 24px 0 rgb(18 16 11 / 31%);
}
.Endirimcartimage{
    width: 160px;
    height: 160px;
    border-radius: 5px;
}

.Endirimoff{
    /* position: absolute; */
    top: 0;
    left: 50px;
    z-index: 1;
    background-color: red;
    color: white;
    padding: 10px;
    width: 60px;
    border-radius: 15px;
}

.Endirimcartimg{
    width: 160px;
    height: 160px;
    border-radius: 5px;
    position: relative;
    z-index: -1;
}
.Endirimcarttext{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    width: 260px;
    height: 140px;
    padding: 30px 20px 10px 20px;
}
.Endirimcarttitletext{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.Endirimcartabouttext{
    font-size: 18px;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.Endirimcartstars{
    font-size: 10px;
    margin: 0;
}



.Endirimdivprice{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Endirimcartprice{
    font-size: 18px;
    display: inline;
    margin: 0;
    text-decoration:  line-through;
}

.Endirimcartpriceoff{
    font-size: 18px;
    display: inline;
    margin: 0;
    font-weight: bold;
}
.Endirimcarticonheart{
    font-size: 30px;
    padding: 20px;
    background-color: yellow;
    height: 20px;
    width: 46px;
    cursor: pointer;
}
.Endirimcarticonbasket{
    font-size: 30px;
    padding: 20px;
    background-color: yellow;
    height: 20px;
    width: 46px;
    cursor: pointer;
}
.Endirimcarticoneye{
    font-size: 30px;
    padding: 20px;
    background-color: yellow;
    height: 20px;
    width: 46px;
    cursor: pointer;
}
.Endirimcarticonheart:hover{
    color: red;
}
.Endirimcarticonbasket:hover{
    color: red;
}
.cartstar{
    font-size: 20px;
    color: yellow;
}


.Kategoriyaheadtext{
    font-size: 20px;
}


/* ---------------------- */


.Kategoriyahead{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 100px;
}
.Kategoriyasearch{
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 40px;
}
.Kategoriyasearchinput{
    border: none;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}
.Kategoriyasearchinput[type=text]:focus{
    border: none;
}
.Kategoriyasearchicon{
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.Endirimheadcontainer{
    display: flex;
    gap: 20px;
}




.Kategoriyafiltersearch{
    font-size: 20px;
    border: 1px solid;
    padding: 6px;
    cursor: pointer;
    background-color: orange;
    color: white;
}



.Endirimfiltercheckbox{
    padding-top: 40px;
    padding-left: 10px;
}
.Endirimfiltercolor{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.EndirimfilterColor{
    width: 80px;
    height: 30px;
    text-align: center;
}
.Kategoriyafiltersearchcolor{
    font-size: 20px;
    border: 1px solid;
    padding: 6px;
    cursor: pointer;
    background-color: orange;
    color: white;
}


.Endirimfiltercheckboxitem{
    width: 20px;
    height: 20px;
}