.logoimg{
    width: 90px;
    height: 70px;
    border-radius: 5%;
}
.logoimg1{
    width: 140px;
    height: 70px;
}

.logoimg3{
    width: 120px;
    height: 70px;
}
.logoimg4{
    width: 150px;
    height: 70px;
}

.logoimg7{
    width: 170px;
    height: 70px;
}

.logoimg10{
    width: 180px;
    height: 70px;
}
.logocarusel{
    padding-left: 30px;
    padding-right: 30px;
}